.contenido-inicio {
    color: white;
    text-align: center;
    background-color: gray;
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;
    padding: 10px;
    

}
//  .imagen {
//      text-align: left;
     img {
         padding-top: 50px;
         width: 100%; 
         border-radius: 50px;
        
         

     }

 .btn {
     margin-top: 50px;
     margin-left: 50px;
     float: center;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-size: 2em;
    font-weight: 500;
    border: 5px solid black;
    transition: all 0.5s ease-in-out;
    color: black;
 }


      
  

